@page

@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Bindu.Sampatti.Localization
@using Bindu.Sampatti.Web.Pages.Organisation.Plant

@model CreateModalModel

@inject IStringLocalizer<SampattiResource> L

@{
    Layout = null;
}

<form asp-page="/Organisation/plant/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["PlantNew"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="NewPlant.Name" />
            <abp-select asp-for="NewPlant.Location" asp-items="@Model.Locations" label="@L["PlantLocation"].Value" />
            <abp-input asp-for="NewPlant.Notes" />
            <abp-radio asp-for="NewPlant.Status" asp-items="@Model.PlantStatus" label="@L["PlantStatus"].Value" inline="true" />

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Save|AbpModalButtons.Cancel)">
        </abp-modal-footer>

    </abp-modal>

</form>