@page

@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Utils
@using Bindu.Sampatti.Localization
@using Bindu.Sampatti.Web.Pages.Organisation.Depot

@model CreateModalModel

@inject IStringLocalizer<SampattiResource> L

@{
    Layout = null;
}

<form asp-page="/Organisation/depot/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["DepotNew"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="NewDepot.Name" />
            <abp-select asp-for="NewDepot.Location" asp-items="@Model.Locations" label="@L["DepotLocation"].Value"/> 
            <abp-input asp-for="NewDepot.Notes" />
            <abp-radio asp-for="NewDepot.Status" asp-items="@Model.DepotStatus" label="@L["DepotStatus"].Value" inline="true" />

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Save|AbpModalButtons.Cancel)">
        </abp-modal-footer>

    </abp-modal>

</form>
